* {
  font-family: gesta, sans-serif;
}

html {
  font-size: unquote("min(max(1rem, 4vw), 36px)");
}
// h1 {
// //   font-family: Snippet;
//   font-size: unquote("min(max(1rem, 4vw), 150px)");
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 700;
//   line-height: 1.2;
// }
// h2 {
//   //   font-family: Snippet;
//     // font-size: unquote("min(max(2rem, 4vw), 150px)");
//     font-style: normal;
//     font-variant: normal;
//     font-weight: 700;
//     line-height: 1.2;
//   }
// h3 {
// //   font-family: Snippet;
//   font-size: 17px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 700;
//   line-height: 1.3;
// }
// p {
// //   font-family: Snippet;
//   font-size: unquote("min(max(1rem, 4vw), 36px)");
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 500;
//   line-height: 1.4;
// }
// blockquote {
// //   font-family: Snippet;
//   // font-size: 17px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 400;
//   line-height: 23px;
// }
// pre {
// //   font-family: Snippet;
//   font-size: 11px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 400;
//   line-height: 23px;
// }
// a   {
//   font-size: unquote("min(max(1rem, 4vw), 36px)");
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 500;
//   line-height: 1.4;
// }
a{
  text-decoration: none;
}